{% extends "base.html" %}


{% block title %}<title>Creation du compte</title>{% endblock %}

<!-- Masthead-->
{% block body %}
    <section class="page-section animated zoomInUp cta py-2">                     
        <div class="container-fluid w-100 h-100">
            <div class="row h-100 w-100 justify-content-center align-items-center text-cente">
                <div class="col align-items-center text-center ">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p}}
                        <input id="create_account" type="submit" class="btn btn-primary btn-xl js-scroll-trigger" value="Submit">
                    </form>
                </div>
            </div>
            <div class="row h-100 w-100 justify-content-center align-items-center text-cente">
                <div class="col align-items-center text_white text-center ">
                    Atention un email vas vous être envoyé, verifiez vos SPAMS afin de recevoir vos tirages quotidiens!
                </div>
            </div>
        </div>
    </section>
{% endblock %}