{% extends "base.html" %}
{% load static%}

{% block body %}                        
    <div class="container-fluid w-100 h-100">
        <div class="row h-100 w-100 justify-content-center align-items-center text-cente">
            <div class="col justify-content-center align-items-center text-center">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
{% endblock%}