asgiref
defusedxml
diff-match-patch
dj-database-url
Django
django-import-export
et-xmlfile
import-export
MarkupPy
odfpy
openpyxl
Pillow
psycopg2
PyYAML
sqlparse
tablib
tzdata
whitenoise
xlrd
xlwt
pip-tools
gunicorn