{% extends 'base.html' %}
{% load static%}
{% block title %}Logout Page{% endblock title %}


{% block header %}
    <header class="masthead">                           
        <div class="container-fluid w-100 h-100" >
            <div class="row h-100 w-100 justify-content-center align-items-center text-cente">
                <div class="col justify-content-center align-items-center text-center">
                    <h1 class="h-100 badge badge-primary text-wrap text-uppercase text-white font-weight-bold" style="border-radius:30px;">Vous étes deconnecté!</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
